body {
    background-color: #F2F5F9;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    margin: 0;
    height: auto;
    width: 425px;
}

.top-image {
    height: 300px;
}

.card img {
    width: 100%;
    border-radius: 16px;
}

.card-overlay {
    position: relative;
    bottom: 70px; 
}

.card-title {
    margin: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #111729; 
    font-weight: 500;
    margin-top: 0;
    letter-spacing: -1px;
    margin-top: -40px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4A5567;
    font-weight: 500;
    letter-spacing: -1px;
}

hr {
    width: 100%;
    border: none;
    border-top: 0.5px solid #F2F5F9;
    margin-bottom: -20px;
}

.card-avatar {
    margin: 30px;
    display: flex;
    align-items: center;
}

.card-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid #F2F5F9;
    margin-right: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: #4A5567;
    font-weight: 600;
}

strong {
    color: #111729;
    font-size: 1rem;
    font-weight: 800;
}